*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Helvetica Neue", Arial, sans-serif;
    height: 100vh;
    overflow:hidden;
    background: url("assets/red.jpg");
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center;  
    color:black;
}

h1{
    text-align: center;
    margin-top:20px;
    color:white;
}
.container {
    width: 200px;
    height: 300px;
    perspective: 600px;
  }
  
  .container > .card {
    cursor: pointer;
/*    transform: rotateY(180deg);*/
  }
  
  .card {
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
  }

  .front p{
    font-size: 20px;
    padding: 5px;
  }

  .current {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .show-challenge{
    transform: rotateY(180deg);
  }
  .unflipped{
    position:absolute;
    bottom:20px;
    padding-left: 20px;
  }

  .flipped{
    position:absolute;
    bottom:20px;
    right: 0px;
    padding-right: 20px;
  }

  
  .front,
  .back {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 1px 1px rgba(255, 0, 0, 0.2);

    position: absolute;
    backface-visibility: hidden;
  }
  
  .front {
    background: linear-gradient(to bottom, #ffffff, #f5f5f5);

    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    text-align: center;
  }
  
  .back {
    background-image: url('assets/card-back.png');
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center;  
  }
